@import "tailwindcss";

@theme {
  --color-viio-primary: #4F46E5;
  --color-viio-secondary: #6B7280;
  --color-viio-background: #FFFFFF;
  --color-viio-background-alternative: #F3F4F6;
  --color-viio-principal-text: #111827;
}

/* .card-pricing-fintech{
  @apply cursor-pointer hover:scale-110 transition-transform min-w-64 max-w-64 bg-viio-background rounded-md py-6 px-4 text-viio-principal-text grid gap-4 text-center min-h-80 items-center content-between relative;
} */